.github
.gitignore
.prettierrc.mjs
.release-please-manifest.json
.vscode-test/**
.vscode/**
*.config.mjs
**/*.map
**/*.ts
**/*.d.ts
**/tsconfig*.json
compile.mjs
coverage/
node_modules/
package-lock.json
pnpm-lock.yaml
release-please-config.json
src/
test/
vsc-extension-quickstart.md
examples/
